<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>MybatisServer</display-name>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>MemoServlet</servlet-name>
    <servlet-class>com.allthelucky.memo.servlet.MemoServlet</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>MemoServlet</servlet-name>
    <url-pattern>/memoServer</url-pattern>
  </servlet-mapping>
  
    <servlet>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>com.allthelucky.memo.page.LoginServlet</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/Manager/loginServlet</url-pattern>
  </servlet-mapping>
</web-app>